altgraph==0.17.3
chardet==5.2.0
colorama==0.4.6
comtypes==1.2.1
docx2pdf==0.1.8
git-filter-repo==2.38.0
pefile==2023.2.7
pillow==10.2.0
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.6
PyPDF2==3.0.1
pywin32==306
pywin32-ctypes==0.2.2
reportlab==4.0.9
tqdm==4.66.1
